
html {
  color:#ecece6;
  background-color:#282a36;
  font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Baloo Tamma 2', cursive;
}

h1 {
  margin: 0;
  font-size: 60px;
  padding: 0;
  text-align: center;
  text-shadow: 3px 3px 2px blue;
}

p, li {
  font-size: 18px;    
  line-height: 1.5;
  letter-spacing: 1px;
}


body {
  width: 1000px;
  margin: 0 auto; /*first value for top and bottom, second value for right and left*/
  background-color: #273250;
  padding: 0 20px 20px 20px;
}