/* Global*/
html{
    color: #f3f1e8;
}
body{
    font: 18/2 Arial, Helvetica, sans-serif;
    padding:0;
    background-color: #032a64;
    margin-bottom: 200px;
}
a:visited{

    color:rgb(212, 224, 35);
}

a:hover{
    color: rgb(186, 224, 113);
    font-weight: bolder;
}

a{
    text-decoration: none; 
    color: rgb(81, 190, 8);
}


article{
    font: 18/2 Arial, Helvetica, sans-serif;
    font-size: 16px;
}

article h2{
    color:rgb(193, 243, 114);
    
}
.container{
    max-width: 1200px;
    margin:auto;
    overflow:hidden;
}


/* Header */
header {
    background: #011946; 
    padding: 20px; 
    min-height: 60px;
    border-bottom: #010e25 3px solid;
}
.showcase{
    
    border-bottom: #010e25 3px ;
}

header a {
    color: rgb(7, 202, 7);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}


header li{
    float : left;
    display: inline;
    padding: 0 10px 0 10px;
}

li span{
    color:rgb(202, 134, 7)
}


header #logo {
    float: left;
}

header #logo h1{
    margin:0;
}

header .highlight {
    
    color: #df6e04;
}
header .current a{
    color:rgb(212, 224, 35);

}


nav{
    float:right;
}

nav img{
    width: 40px;
    height: 40px;
}

.showcase{
    width: auto;
    font-size: 16px;
}


 
.showcase h1{
    color:rgb(207, 139, 13);
    margin-top:10px;
    font-size: 40px;
    margin-bottom: 10px;
    text-align:center;
}
/* .showcase p{
     font-size: 20px;
} */


/* Boxes area */
#boxes{
    text-align: center;
    /* margin-top:20px;     */
    margin:auto;
}

#boxes .box{
    float: left;
    width: 30%;
    padding:20px; 

}

#boxes .box img{
    text-align:center;
    width: 100px;
    height: 80px;
}


/* #boxes .box a h3{
    font-size: ;
}
*/

/* footer {
  position: fixed;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#011946;
  color: white;
  border-top:#010a1b 3px solid;
} */

/* footer{

    padding:20px;
    margin-top:20px;
    background-color:#041e4e;
    text-align: center;
} */
