
/* Global*/
html{
    color: #e2e0d8;
}
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: #052869;
}
a:hover{
    color: rgb(218, 223, 209);
    font-weight: bolder;
}

a:visited{
    color:rgb(212, 224, 35);
}
a{
    text-decoration: none; 
    color: rgb(95, 216, 14);
}



.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}

header ul{
    margin:0;
    padding:0; 
}

/* Header */
header {
    background: #011946; 
    padding: 30px; 
    min-height: 60px;
    border-bottom: #010e25 3px solid;
}

header a {
    color: rgb(7, 202, 7);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}


header li{
    float : left;
    display: inline;
    padding: 0 10px 0 10px;
}

header #logo {
    float: left;
}

header #logo h1{
    margin:0;
}

header .highlight, header .current a{
    color: #ecf010;
}

nav{
    float:right;
}


#showcase{
    /* background:url(../img/nature.jpg); */
    /* background-size:cover; */
    min-height: 400px;
    width: auto;
    /* text-align: center; */
}

#showcase h1{
    margin-top:100px;
    font-size: 55px;
    margin-bottom: 10px;
    text-align:center;
}
#showcase p{
     font-size: 20px;
}

/* Boxes area */
#boxes{
    text-align: center;
    /* margin-top:20px;     */
    margin:auto;
}

#boxes .box{
    float: left;
    width: 30%;
    padding:20px; 
}

#boxes .box img{
    text-align:center;
    width: 100px;
    height: 80px;
}

/* #boxes .box a h3{
    font-size: ;
}
*/

footer{
    padding:20px;
    margin-top:20px;
    background-color:#041e4e;
    text-align: center;
}
